/* roots */

:root{
    --neutral-first: #fff;
    --neutral-second: #000;
    --desc-basic: #737373;
    --desc-light: #F6F6F6;
    --link-active: #FA4A0C;
    --desc-basic-darker: #252b42;
    --copyright-color: #5c5c5c;
    --subtitle-colorize: #FA4A0C;
    --btn-background: #FA4A0C;
    --link-color: #252b42;
}
:root{
    --font-family: "Montserrat", sans-serif;
    --second-family: "Poppins", sans-serif;
    --third-family: "Roboto", sans-serif;
}

/* main settings */

body{
    padding: 0px;
    margin: 0px;
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.2px;
}

.container{
    width: 1175px;
    margin: 0 auto;
}

a {
    display: inline-block;
}

/* header */
.header{
    padding-top: 50px;
    padding-bottom: 41px;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list{
    display: flex;
    gap: 114px;
}

.header-link{
    color: var(--link-color);
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    transition: 250ms ease-in-out;
}

.header-link:hover{
    color: var(--link-active);
}

.header-logo{
    width: 160px;
    height: 65px;
}

/* banner */

.banner{
    padding-top: 80px;
    padding-bottom: 162px;
    background-image: url(../images/bg-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.banner-subtitle{
    color: var(--desc-light);
    text-align: center;
    margin-bottom: 10px;
    line-height: 150%;
    letter-spacing: 0em;
}

.banner-title{
    color: var(--neutral-first);
    font-family: var(--second-family);
    font-size: 58px;
    text-align: center;
    line-height: 138%;
    margin-bottom: 10px;
    letter-spacing: 0em;
}

.banner-desc{
    color: var(--desc-light);
    margin-bottom: 94px;
    font-weight: 500;
    line-height: 158%;
}

.banner-list{
    display: flex;
    gap: 67px;
}

.banner-deliv-link, .banner-menu-link{
    color: var(--neutral-first);
    padding: 16px 66px;
    border-radius: 30px;
}

.banner-deliv-link{
    background-color: var(--btn-background);
}

.banner-menu-link{
    border: 1px var(--neutral-first) solid;
}

/* app */

.app{
    padding-top: 56px;
    padding-bottom: 184px;
}

.app-main-title{
    color: var(--neutral-second);
    font-family: var(--second-family);
    font-size: 44px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 70px;
}

.app-list{
    display: flex;
    flex-direction: column;
    gap: 108px;
}

.app-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-subcontainer{
    width: 568px;
}

.app-subtitle{
    color: var(--subtitle-colorize);
    margin-bottom: 17px;
}

.app-title{
    color: var(--desc-basic-darker);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
    margin-bottom: 17px;
}

.app-desc{
    color: var(--desc-basic);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 158%;
}

/* order */

.order{
    padding-top: 131px;
    padding-bottom: 130px;
    background-image: url(../images/bg-order.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.order-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-title{
    color: var(--neutral-first);
    font-size: 40px;
    line-height: 142%;
    margin-bottom: 20px;
    text-align: center;
}

.order-desc{
    color: var(--neutral-first);
    font-weight: 500;
    line-height: 158%;
    margin-bottom: 67px;
    text-align: center;
}

.order-list{
    display: flex;
    gap: 16px;
}

.order-link{
    color: var(--neutral-first);
    font-size: 16px;
    line-height: 175%;
    border-radius: 10px;
}

.order-item:nth-of-type(1) > .order-link {
    background-color: var(--btn-background);
    padding: 18px 31px;
}

.order-item:nth-of-type(2) > .order-link {
    border: 1px solid var(--neutral-first);
    padding: 16px 45px;
}


/* footer */

.footer{
    padding-top: 114px;
    padding-bottom: 58px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright{
    color: var(--copyright-color);
    font-family: var(--third-family);
    font-size: 12px;
}